ENV=prod
NODE_ENV=
PORT=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=

CORS_ORIGIN=https://yourfrontend.com

JWT_SECRET=prod_secret_key
JWT_REFRESH_SECRET=prod_refresh_secret
ACCESS_TTL=
REFRESH_TTL=
JWT_ISSUER=https://yourbackend.com
API_BASE_URL=
ENABLE_CRON=
SHOW_DOCS=
DB_TEST=
